<div id="tasks-container">
    {% for task in tasks %}
    <div
        class="box is-shadowless mb-4"
        style="border: 1px solid #e8e8e8; border-radius: 15px; padding: 1.25rem"
    >
        <div
            class="is-flex is-justify-content-space-between is-align-items-start"
        >
            <div class="is-flex is-align-items-start">
                <div class="mr-4 mt-1">
                    <input
                        type="checkbox"
                        style="
                            width: 18px;
                            height: 18px;
                            cursor: pointer;
                            border-radius: 4px;
                        "
                    />
                </div>

                <div>
                    <h3 class="has-text-weight-bold is-dark is-size-5 mb-2">
                        {{ task.task }}
                    </h3>

                    <div class="is-flex is-align-items-center">
                        <span
                            class="tag is-link is-rounded has-text-weight-semibold mr-3 px-3"
                        >
                            {{ task.category.cat_name if task.category else
                            'Uncategorized' }}
                        </span>

                        <span
                            class="has-text-grey is-size-7 is-flex is-align-items-center"
                        >
                            <i class="far fa-calendar-alt mr-2"></i>
                            {{ task.deadline.strftime('%b %d, %Y') if
                            task.deadline else 'No deadline' }}
                        </span>
                    </div>
                </div>
            </div>

            <div class="is-flex">
                <button class="button is-white has-text-dark p-2 mx-1">
                    <i class="fa-solid fa-pencil is-size-6"></i>
                </button>
                <button class="button is-white has-text-danger p-2 mx-1">
                    <i class="fa-regular fa-trash-can is-size-5"></i>
                </button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
