<div class="container">
    <div class="level-right">
        <div class="level-item">
            <div class="buttons">
                <a href="#" class="button is-black is-small"> All </a>

                <a href="#" class="button is-black is-small"> Academic </a>

                <a href="#" class="button is-black is-small"> Personal </a>

                <a href="#" class="button is-black is-small">
                    Extracurricular
                </a>
                <a href="#" class="button is-black is-small">Work</a>
                <a href="#" class="button is-black is-small">Learning</a>
            </div>
        </div>
    </div>
</div>
