{% extends 'base.html' %} {% block content %}

<div id="modal-js-task" class="modal is-active">
    <div class="modal-background"></div>

    <div class="modal-card" style="max-width: 400px">
        <!-- Header -->
        <header class="modal-card-head">
            <p class="modal-card-title has-text-centered has-text-weight-bold">
                Add New Task
            </p>
            <button class="delete" aria-label="close"></button>
        </header>

        <!-- Body -->
        <section class="modal-card-body">
            <form
                method="POST"
                {%
                if
                task
                %}
                action="{{ url_for('main.update_task', task_id=task.id) }}"
                {%
                else
                %}
                action="{{ url_for('main.add_task') }}"
                {%
                endif
                %}
            >
                <!-- Task Title -->
                <div class="field">
                    <label class="label">Task Title *</label>
                    <input
                        class="input"
                        name="task_title"
                        type="text"
                        value="{{ task.task if task }}"
                    />
                </div>
                {%include 'add_category.html'%}

                <!-- Deadline -->
                <div class="field">
                    <label class="label">Deadline *</label>
                    <input
                        class="input"
                        name="deadline"
                        type="date"
                        value="{{ task.deadline.strftime('%Y-%m-%d') if task and task.deadline }}"
                    />
                </div>

                <!-- Notes -->
                <div class="field">
                    <label class="label">Notes</label>
                    <textarea class="textarea" name="notes">
                    {{ task.notes if task and task.notes else '' }}</textarea
                    >
                </div>

                <!-- Submit -->
                <div class="field">
                    <button type="submit" class="button is-black is-fullwidth">
                        {% if task %} Update Task {% else %} Add Task {% endif
                        %}
                    </button>
                </div>
            </form>

            <!-- Feedback area for HTMX response -->
            <div id="form-message" class="has-text-centered mt-3"></div>
        </section>

        <!-- Footer -->
        <footer class="modal-card-foot is-flex is-flex-direction-column">
            <a
                href="{{ url_for('main.index') }}"
                class="button is-white is-fullwidth is-ghost has-text-dark"
            >
                Cancel
            </a>
        </footer>
    </div>
</div>

{% endblock %}
